{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<div>
    <b>You have USD$ {{balance}} balacne remaining</b>
</div>
<div>
    <h2>Stock Profile</h2>
    {% if outputlist == None %}
        <b>You do not make any transaction !</b>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Stock name</th>
                    <th>Shares</th>
                    <th>Average Buy-in price</th>
                    <th>Market price</th>
                </tr>
            </thead>
            <tbody>
                {% for row in outputlist %}
                    <tr>
                        <td>{{row["Stock"]}}</td>
                        <td>{{row["Quantity"]}}</td>
                        <td>{{row["Price"]}}</td>
                        <td>{{row["Market_Price"]}}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
