{% extends "layout.html" %}

{% block title %}
    quoted
{% endblock %}

{% block main %}
<div>
    <h2>All Quotes</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Symbol</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{stockquote["name"]}}</td>
                    <td>{{stockquote["price"]}}</td>
                    <td>{{stockquote["symbol"]}}</td>
                </tr>
        </tbody>
    </table>
</div>
{% endblock %}
